* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;

}
/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
  display:flex ;
  gap: 200px;
}
.footer1{
  display: flex;
  justify-content:center ;
    align-items: center; /* Centrerer elementerne vertikalt */
gap: 20px;
}
.footer2{
  display: flex;
  gap: 20px;
}
.footer2 img{
  width: 20px;
  height: auto;
}
.logo-footer {
  padding: 0.5rem 1rem;
  border-radius: 50% / 50%;
}

/***CTA knap***/
.cta-knap{
  background-color: #fff;
  color: #6C5848;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Almarai", sans-serif;
  margin-bottom: 50px;
}
.cta-knap:hover {
  background-color: #9d9d9d;
}
.cta-knap2{
  background-color: #6C5848;
  color: #fff;
  border: none;
  padding: 10px 60px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Almarai", sans-serif;
  margin-bottom: 50px;
  font-weight: 200;
}
.cta-knap:hover2 {
  background-color: #9d9d9d;
}

/* Links */
a {
  color: #6C5848;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* Overskrifter */
h1{
font-family: "Libre Baskerville", serif;
font-weight: 500;
margin-bottom: 0.5rem;
line-height: 1.2;
font-size: 50px;
}
h2{
font-family: "Libre Baskerville", serif;
font-weight: bold;
margin-bottom: 0.5rem;
line-height: 1.2;
font-size: 40px;
}
h3{
font-family: "Almarai", sans-serif;
font-weight: bold;
margin-bottom: 0.5rem;
line-height: 1.2;
font-size: 30px;
}
h4{
font-family: "Almarai", sans-serif;
font-weight: bold;
margin-bottom: 0.5rem;
line-height: 1.2;
font-size: 25px;
}



/* Paragrafer */
p {
margin-bottom: 1rem;
font-family: "Almarai", sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

/*Nav bar*/
.navbar {
  display: flex;
  justify-content: space-between; /* Skubber logo til venstre, links til højre */
  align-items: center;            /* Vertikal centrering */
  padding: 1rem 2rem;
  background-color: #ffffff;
  font-family: "Almarai", sans-serif;
  border-bottom: 2px solid #6C5848; /* farve og tykkelse på linjen */

}
.logo {
  padding: 0.5rem 1rem;
  border-radius: 50% / 50%;
  margin-right: 500px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: #6C5848;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 25px;
}
.nav-links a:hover {
  text-decoration: underline;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
}

/***Intro***/
#intro {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  gap: 30px;                      
  padding-left: 100px;
  color: #6C5848;
}
.overskrift{
  font-family: "Libre Baskerville", serif;
  font-size: 70px;
  line-height: 48px; 
  margin-bottom: 50px;  
  margin-top: -90px;
}
.underoverskrift{
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 50px;
  line-height: 55px;
  margin: 0;
}
.kolonne {
  flex: 1; 
  margin: 0;
  object-fit: cover;
}
.kolonne img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.kolonne:last-child {
  flex: 1;
  padding: 0;
  margin: 0;
}
.kolonne:last-child img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0;
}


/***CV***/
#cv-sektion{
  background-color: #6C5848;
}
#cv{
  color: #fff;
  display: flex;
  gap: 200px;
  justify-content: center;
  padding: 75px;
  padding-bottom: 0px;
}
#cv h2{
  margin-bottom: 20px;
}
.grid1{
  display: flex;
  gap: 200px;
  margin: 0;
  justify-content:space-between;
}
.grid1 p{
  margin: 0;
}
.linje {
  height: 2px;
  background-color: #fff;
  width: auto;
  margin: 2rem 0;
  margin-top: 0;
}
.knap{
  padding-bottom: 75px;}

/***Projekter***/
#projekter{
  color: #6C5848;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
}
#projekter h2{
  font-weight: 400;
  margin-bottom: 20px;
}
.grid2{
  display: flex;
  gap: 50px;
  justify-content: center;
}
.grid2 h3{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px;
}
.grid2 p{
  margin-bottom: 20px;
}


/***Kontakt***/
#kontakt{
  background-color: #6C5848;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 50px;
}
#kontakt h2{
  font-weight: 400;
  margin-bottom: 20px;
}
.grid3{
  display: flex;
  gap: 300px;
  margin: 0;
  justify-content: center;
}
.grid3 p{
  margin: 0;
}
.billede-kontakt{
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
    margin-top: 50px;
}
.kolonne,
.grid1 > div,
.grid2 > div {
  flex: 1 1 0; /* Lige bredde uanset indholdets længde */
}

